{% extends 'nave.html' %}
{% block slider %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <h1>About Pixkal</h1>
        <p>Pixkal provides AI-based image generation and a wide variety of nature and wallpaper images. Explore our site for the latest updates and galleries.</p>
    </div>
</body>
{% endblock %}
