<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Search: {{ query }}</title>
  </head>
  <body>
    <div class="container">
      {% if query %}
        <p>Search for <strong>{{ query }}</strong></p>
      {% endif %}

      {% if result %}
        <div class="row">
          {% for x in result %}
            <div class="col-lg-4 col-md-4 col-12 mb-4">
              <div class="card">
                <img src="{{ x.img.url }}" class="card-img-top" alt="{{ x.title }}">
                <div class="card-body">
                  <h5 class="card-title">{{ x.title }}</h5>
                  <a href="{{ x.img.url }}" class="btn btn-primary" download>Download</a> <!-- Fixed download button -->
                </div>
              </div>
            </div>

            {% if forloop.counter|divisibleby:3 and not forloop.last %}
              </div><div class="row mt-3">
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <p class="lead">There are no results for your search: <strong>{{ query }}</strong></p>
      {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
