/* about.css */

/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Header styles */
h1 {
    color: #000000;
    font-size: 2.5em;
    text-align: center;
    max-width: 700px; /* ৩টি লাইনে ভেঙে ফেলার জন্য উপযুক্ত প্রস্থ */
    line-height: 1.4;
    margin: 0;
    padding: 50px;
    border: 3px solid #00796b;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-transform: lowercase;
    letter-spacing: 1.5px;
    animation: glow 1.5s ease-in-out infinite alternate;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 420px;
  
}

h1::first-letter {
    text-transform: lowercase; /* প্রথম অক্ষরকে বড় হাতের অক্ষরে রূপান্তর করবে */
    font-size: 1.2em; /* প্রয়োজন মতো প্রথম অক্ষরের ফন্ট সাইজ সামঞ্জস্য করতে পারেন */
    color: dodgerblue; /* প্রথম অক্ষরের রঙ পরিবর্তন করা যেতে পারে */
}

/* Animation styles */
@keyframes glow {
    from {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px #80cbc4, 0 0 20px #80cbc4, 0 0 30px #80cbc4;
    }
    to {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 20px #004d40, 0 0 30px #004d40, 0 0 40px #004d40;
    }
}
